<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="icons/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/app.js" defer></script>
    <title>Express Weather | {{title}}</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav__brand">
                <a href="/">Weather App</a>
            </div>
            <ul class="nav__menu">
                <li class="nav__menu-item">
                    <a class="nav__menu-link" href="/">Home</a>
                </li>
                <li class="nav__menu-item">
                    <a class="nav__menu-link" href="/about">About</a>
                </li>
                <li class="nav__menu-item">
                    <a class="nav__menu-link" href="/help">Help</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">